<div class=" col-12 p-2 "
style="">
    <div class="col-12">
        <h4 id="interfaz"
        class="col-12 text-center"
        style="background-color: darkgray;
        border-radius: 10px;
        word-break: break-word;">►{{operacion}}◄</h4>
        <p id="hystori"
        class="col-12 text-center"
        style="background-color: darkgray;
        border-radius: 10px; 
        word-break: break-word;">={{historyl}}</p>
    </div>
    <div class="col-12 text-center m-0 "
    style="">
        <button class="col-2 btn btn-info m-1"
        (click)="push7()">7</button>
        <button class="col-2 btn btn-info m-1"
        (click)="push8()">8</button>
        <button class="col-2 btn btn-info m-1"
        (click)="push9()">9</button>
        <button class="col-2 btn btn-danger m-1"
        (click)="del()">DEL</button>
        <button class="col-2 btn btn-danger m-1"
        (click)="ac()">AC</button>
        <br>
        <button class=" col-2 btn btn-info m-1"
        (click)="push4()">4</button>
        <button class="col-2 btn btn-info m-1"
        (click)="push5()">5</button>
        <button class="col-2 btn btn-info m-1"
        (click)="push6()">6</button>
        <button class="col-2 btn btn-info m-1"
        (click)="pushx()">X</button>
        <button class="col-2 btn btn-info m-1"
        (click)="pushdiv()">/</button>
        <br>
        <button class="col-2 btn btn-info m-1"
        (click)="push1()">1</button>
        <button class="col-2 btn btn-info m-1"
        (click)="push2()">2</button>
        <button class="col-2 btn btn-info m-1"
        (click)="push3()">3</button>
        <button class="col-2 btn btn-info m-1"
        (click)="pushplus()">+</button>
        <button class="col-2 btn btn-info m-1"
        (click)="pushmain()">-</button>
        <br>
        <button class="col-2 btn btn-info m-1"
        (click)="push0()">0</button>
        <button class="col-2 btn btn-info m-1"
        (click)="pushpoint()">.</button>
        <button class="col-2 btn btn-info m-1"
        (click)="exp()">EXP</button>
        <button class="col-2 btn btn-info m-1"
        (click)="ans()">Ans</button>
        <button class="col-2 btn btn-success m-1"
        (click)="operation()">=</button>
    </div>
    
</div>
