

<div class="container-fluid text-white p-0 m-0 bg-dark"><p class="font-weight-bold py-2" style="text-align: center;">Contactame ;)</p>
    <div class="row col-12" style="">
        <div class="col-md-3 col-12 text-center" style="margin:0;padding: 0px;"><img style="width: 30px;" src='assets/images/logo-correo.png'>drmendur@gmail.com</div>
        <div class="col-md-3 col-6 text-center" style="margin:0;padding: 0px;"><img style="width: 30px;" src='assets/images/watsappimage.png'>+57 3125022060</div>
        <div class="col-md-2 col-6 text-center" style="margin:0;padding: 0px;"><img style="width: 30px;" src='assets/images/facebookimage.png'><a href="javascript:window.open('https://www.facebook.com/edward.bermudez.10004','','width=600,height=400,left=50,top=50,toolbar=yes');void 0">Facebook</a></div>
        <div class="col-md-2 col-6 text-center" style="margin:0;padding: 0px;"><img style="width: 30px;" src='assets/images/linkedinimage.png'><a href="javascript:window.open('https://www.linkedin.com/in/edward-mauricio-8804a31b1/','','width=600,height=400,left=50,top=50,toolbar=yes');void 0">Linkedin</a></div>
        <div class="col-md-2 col-6 text-center" style="margin:0;padding: 0px;"><img style="width: 30px;" src='assets/images/magnetoicon.png'><a href="javascript:window.open('https://www.magneto365.com/pl/edward-bermudez-2086518','','width=600,height=400,left=50,top=50,toolbar=yes');void 0">Magneto</a><br /><br /></div>
    </div>
</div>