
<div class="col-12 col-md-12 text-white" style="text-align: center;">
<h1 class="col-12 col-md-12" >Proyectos</h1>
<br>

<p class="">En esta sección podras ver los proyectos que he hecho hasta ahora. Así, podras
    saber lo que puedo hacer y la forma en la que lo hago. Sin embargo, recuerda
    que el diseño y el objetivo lo siembras tu ;)
    <br>
    Cual quiera que sea tu necesidad, con empeño, dedicacion e investigación se puede
    lograr, para que así, quedes satisfecho con tu producto y podamos cumplir tus espectativas.
</p>

</div>

<div class="col-12 col-md-12" style="text-align: center;"><h2 style="color: white;">Mapa personalizado</h2></div>

<app-mapaapp ></app-mapaapp>

<hr>

<h2 style="color: white; text-align: center;" class="my-5" >Apps Solicitudes http</h2>
<p class="col-11 text-white m-2 p-0">
    La siguiente herramienta, por medio de un servicio consulta una serie de eventos on-off,
    con los cuales calcula las horas totales trabajadas en el dia, y grafica la informacion 
    para su facil entendimiento.
    Tambien, ofrece la opccion de descargar el reporte en un archivo PDF.
</p>

<app-rhoras></app-rhoras>





