<div class="row col-12">
    <div class="col-12">
        <h1 class="col-12 text-white text-center">Galeria
        </h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 text-white">
            <img class="col-12" src="https://cdn.pixabay.com/photo/2018/07/14/17/46/raccoon-3538081_960_720.jpg" alt="Un mapache">
            <p class="mx-3">Un bello mapache :3</p>
        </div>
        <div class="col-12 col-md-4 text-white">
            <img class="col-12" src="https://cdn.pixabay.com/photo/2016/02/22/10/06/hedgehog-1215140_960_720.jpg" alt="Un erizo">
            <p class="mx-3">Un adorable erizo nariz de puerco uwu</p>
        </div>
        <div class="col-12 col-md-4 text-white">
            <img class="col-12" src="https://cdn.pixabay.com/photo/2017/09/16/19/33/parrot-2756488_960_720.jpg" alt="Un loro">
            <p class="mx-3">"Arrrr" le dijo el viejo barba negra a su fiel emplumado</p>
        </div>
        <div class="col-12 col-md-4 text-white">
            <img class="col-12" src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="Gatito">
            <p class="mx-3">Hermoso minino albino </p>
        </div>
        <div class="col-12 col-md-4 text-white">
            <img class="col-12" src="https://cdn.pixabay.com/photo/2016/12/05/11/39/fox-1883658_960_720.jpg" alt="Un zorro">
            <p class="mx-3">La más bella forma de la astucia ;)</p>
        </div>
        <div class="col-12 col-md-4 text-white">
            <img class="col-12" src="https://cdn.pixabay.com/photo/2016/05/02/13/17/wildlife-1367217_960_720.jpg" alt="Una gacela">
            <p class="mx-3">Bella gacela. Simbolo de paz e inofensividad</p>
        </div>
        <div class="col-12 text-center">
            <p class="text-white">Creditos a los autores de las fotografias de Pixelbay.com</p>
        </div>
    </div>

</div>
