
<style>
</style>
<div class="col-12 col-md-12 p-0 m-0" 
style="color: white;">   
<h2 class="col-12 col-md-12 text-center py-2">Bienvenido</h2>
<div class="col-12 col-md-12"><img class="col-12 col-md-12" src="assets/images/imagenportada.jpg"></div>
<div class="row col-12 py-5 px-1">
    <div class="col-12 col-md-7">
        <h3 class="col-12 text-center ">Hola!</h3>
        <br>
        <h5 class="col-12 text-center ">Te doy la bienvenida a mi sitio web, donde podras ver mi perfil ocupacional,
        mis hobbies, preferencias, proyectos y capacidades. Estoy para cumplir tus
        proyectos, estoy para ofrecerte soluciones. El diseño web y desarrollo
        de aplicaciones para equipos moviles, son hoy en dia, una gran estrategia para
        vender tu bien, producto, servicio o simplemente para darte a conocer. Así que, explora
        y conoce más sobre el tema, quizas te interese ;)
        </h5>
    </div>
    <div class="col-12 col-md-5 text-center">
        <video src="assets/videos/video1.mp4" controls
        width="auto" height="400">
          </video>
    </div>
</div>
</div>

