
<div class="col-12 m-0 text-white py-0" id="containner1">
    <h2 class="col-12 col-md-12 text-white py-2"style="text-align: center;">¿Quien soy?</h2>
    <p class="col-12 col-md-12 text-white" style="text-align: center;">Mi nombre es Edward y me gusta la programación y la investigación.
        Soy amante del desarrollo web, mi pasion es el código. Me gusta ver peliculas,
        jugar video juegos, dibujar, escuchar musica, hacer ejercicio en casa y al
        aire libre. Me gusta mucho leer textos sobre técnologia y otros temas como astronomia,
        cocina, vida saludable, etc.
        Me gustan los animales domesticos, en especial los perros. Me gusta opinar sobre variados temas, pero prefiero callar
        cuando no tengo suficiente conocimiento sobre alguno.

    </p>
    <div class="col-12 col-md-12 m-0 p-0">
    <img class="col-6 col-md-3 m-auto" src="https://4.bp.blogspot.com/-jDcqEFr898k/XBAeeuO_B3I/AAAAAAAAAEM/ugCkZsDFoN8_HGj34Mcs6O61GvNDzcKaACLcBGAs/s1600/phpCode.png">
    <img class="col-6 col-md-3 m-auto" src="https://cdn.ticbeat.com/src/uploads/2019/12/smart-tv-peligro.jpg">
    <img class="col-6 col-md-3 m-auto" src="https://i.redd.it/tqngo3gw2on21.png">
    </div>
    <h2 class="col-12 col-md-12 text-white py-4" style="text-align: center;">Perfil Profesional</h2>
    <p class="col-12 col-md-12 text-white" style="text-align: center;">Soy bachiller técnico en mecanica industrial, pero la mecanica no era mi vocacion, 
        por ende, decidi estudiar una tecnica en sistemas, y realizar cursos complementarios. 
        Los cursos complementarios que rezalice fueron ingles, administración de recursos 
        humanos, redes y seguridad, desarrollo de sitios web accesibles y cuentas contables.
        Manejo wordpress y ofimatica general. Lo que estudie me permitio conocer más y poder aplicar en mi vida, ofrecer buenas opiniones y soluciones a distintos problemas.
    </p>
    <p style="text-align: center;" class="m-0">
        La técnologia nos permite agilizar procesos administrativos. Ofreciendonos 
        herramientas que pueden almacenar, administrar y ofrecer datos, los cuales pueden ser
        utiles para la toma de desciciones. Hoy en dia, muchas organizaciones usan las 
        herramientas que ofrecen la tecnologia para conseguir la mayor eficacia posible.
    </p>
</div>

